<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a href="/quick-start/" role="button">
          新手引导
        </a>
      </h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" >
        术语解释
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul>
          <li><a href="/quick-start/key_glossary.html">关键术语</a></li>
          <li><a href="/quick-start/performance_metrics.html">性能指标</a></li>
          <li><a href="/quick-start/key_graph.html">图表解释</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" >
          视频演示
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li><a href="/quick-start/how-to-use-business-transactions.html">如何使用 Web事务入口</a></li>
          <li><a href="/quick-start/how-to-use-service-endpoints.html">如何使用 Web事务</a></li>
          <li><a href="/quick-start/how-to-use-tiers.html">如何使用 Tier（层、集群）</a></li>
          <li><a href="/quick-start/how-to-use-remote-services.html">如何使用远程服务</a></li>
          <li><a href="/quick-start/how-to-use-thread-profiling.html">如何使用性能剖析</a></li>
        </ul>
      </div>
    </div>
  </div>
 </div>
