<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a href="/releasenote/ai/index.html" role="button">
          Ai 平台
        </a>
      </h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a href="/releasenote/java/index.html" role="button">
        Java Agent
        </a>
      </h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a href="/releasenote/php/index.html" role="button">
         PHP Agent
        </a>
      </h4>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a href="/releasenote/net/index.html" role="button">
         .Net Agent
        </a>
      </h4>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a href="/releasenote/python/index.html" role="button">
         Python Agent
        </a>
      </h4>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a href="/releasenote/nodejs/index.html" role="button">
         NodeJS Agent
        </a>
      </h4>
    </div>
  </div>
  
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a href="/releasenote/ruby/index.html" role="button">
         Ruby Agent
        </a>
      </h4>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
       <a href="/releasenote/go/index.html" role="button">
         Go Agent
        </a>
      </h4>
    </div>
  </div>
  
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a href="/releasenote/ruby/index.html" role="button">
         Ruby Agent
        </a>
      </h4>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
       <a href="/releasenote/hostagent/index.html" role="button">
         Host Agent
        </a>
      </h4>
    </div>
  </div>
  
  
  
 </div>
