 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="headingOne">
       <h4 class="panel-title">
         <a href="/bestpractice/sj1.html" role="button">
           使用 Ai 性能剖析功能分析性能问题
         </a>
       </h4>
     </div>
   </div>
   
      <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a href="/bestpractice/sj2.html" class="collapsed">
           使用 Ai 发现和诊断由于代码产生的性能问题
         </a>
       </h4>
     </div>
   </div>
   
   
   <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a href="/bestpractice/sj3.html" class="collapsed">
           使用 Ai 发现和诊断由于数据库调用产生的性能问题
         </a>
       </h4>
     </div>
   </div>
   
   
   <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a href="/bestpractice/sj5.html" class="collapsed">
           使用 Ai 发现和诊断由于主机或容器资源瓶颈产生的性能问题
         </a>
       </h4>
     </div>
   </div>
   
   <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a href="/bestpractice/sj6.html" class="collapsed">
          使用报警功能进行高效监控
         </a>
       </h4>
     </div>
   </div>
   
   
   
</div>
