<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a href="/book/monitor/monitor_index.html" role="button">
          监控
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul>
          <li><a href="/book/monitor/monitor_overview.html">总览</a></li>
          <li><a href="/book/monitor/monitor_map.html">拓扑</a></li>
          <li><a href="/book/monitor/monitor_webTransaction.html">web 事务</a></li>
          <li><a href="/book/monitor/monitor_dataBase.html">数据库</a></li>
          <li><a href="/book/monitor/monitor_external.html">外部服务</a></li>
          <li><a href="/book/monitor/monitor_bgTask.html">后台任务</a></li>
          <li><a href="/book/monitor/monitor_jvm.html">JVM</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a href="/book/event/event_index.html" class="collapsed">
          事件
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li><a href="/book/event/event_errorInfo.html">错误信息</a></li>
          <li><a href="/book/event/event_performanceProfiling.html">性能剖析</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a href="/book/report/report_index.html" class="collapsed">
         报表
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li><a href="/book/report/report_webTransaction.html">web 事务</a></li>
          <li><a href="/book/report/report_dataBase.html">数据库</a></li>
          <li><a href="/book/report/report_jvm.html">JVM</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a href="/book/setting/setting_index.html" class="collapsed">
          设置
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li><a href="/book/setting/setting_serverEnvironment.html">服务器环境</a></li>
          <li><a href="/book/setting/setting_applicationSet.html">应用设置</a></li>
          <li><a href="/book/setting/setting_customTransaction.html">自定义事务</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a href="/book/keyTransaction/keyTransaction_index.html" class="collapsed">
          关键事务
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li><a href="/book/keyTransaction/keyTransaction_overview.html">总览</a></li>
          <li><a href="/book/keyTransaction/keyTransaction_map.html">拓扑</a></li>
          <li><a href="/book/keyTransaction/keyTransaction_performanceprofiling.html">性能剖析</a></li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a href="/book/systemSet/systemSet_index.html" class="collapsed">
            报警设置
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li><a href="/book/systemSet/account.html">账号管理</a></li>
          <li><a href="/book/systemSet/alarmPolicy.html">报警策略</a></li>
           <li><a href="/book/systemSet/alarmPolicy02.html">报警记录</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

 <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a href="/book/Agent/agent_index.html" class="collapsed">
            探针管理
        </a>
      </h4>
    </div>
</div>
