<hr style="margin-top: 50px;" />
<div class="alert alert-warning" style="text-align:center; margin: 40px 0px;">
  <p style="font-size: 16px;">
    如果您对 Ai 感兴趣，可以选择试用我们的产品，只需要点击下面的按钮免费注册即可。
  </p>
  <br />
  <p>
    <a href="https://user.oneapm.com/account/register.do?ref=https://www.oneapm.com&from=ai-docs" class="btn btn-info btn-lg" target="_blank">
      立即注册 Ai
    </a>
  </p>
</div>
<hr />
<!-- Discourse公共JS代码 start (一个网页只需插入一次) -->
<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://club.oneapm.com/',
                     discourseEmbedUrl: 'http://docs-ai.oneapm.com<%= current_page.url %>' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
<!-- Discourse公共JS代码 end -->
