<!--<hr style="margin-top: 50px;" />
<div class="alert alert-warning" style="text-align:center; margin: 40px 0px;">
  <p style="font-size: 16px;">
    如果您对 AI 感兴趣，可以选择试用我们的产品，只需要点击下面的按钮免费注册即可。
  </p>
  <br />
  <p>
    <a href="https://user.oneapm.com/account/register.do?ref=https://cloud.oneapm.com&from=ci-docs" class="btn btn-info btn-lg" target="_blank">
      立即注册 AI
    </a>
  </p>
</div>
<hr />
<!-多说评论框 start -->
<!--<div class="ds-thread"
     id="ds-thread"
     data-thread-key=""
     data-title=""
   data-url="<%=  %>"></div>
<!-多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<!--<script type="text/javascript">
  var titleTag = document.getElementsByTagName("h1")[0];

  if (titleTag) {
    title = document.getElementsByTagName("h1")[0].innerText;
  } else {
    title = "<%= current_page.data.title %>";
  }

  var duoshuoTag = document.getElementById('ds-thread');
  duoshuoTag.setAttribute('data-thread-key', title.replace(/\s/g, ''));
  duoshuoTag.setAttribute('data-title', title);

  var duoshuoQuery = {short_name:"docs-ci"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>-->
<!-- 多说公共JS代码 end -->

