<div class="footer-nav-block">
  <div class="container">
    <div class="footer-nav">
      <div class="footer-nav-col">
        <ul class="footer-nav-list">
          <li>
            <a href="/quick-start/">文档</a>
          </li>
          <li>
            <a href="/quick-start/">快速入门</a>
          </li>
          <li>
            <a href="/book/">功能说明</a>
          </li>
          <li>
            <a href="/agent/">安装指南</a>
          </li>
          <li>
            <a href="/qa/">常见问题</a>
          </li>
          <li>
           <a href="/Api/">API</a>
         </li>
         <li>
          <a href="/contact/">联系我们</a>
        </li>
      </ul>
    </div>
    <div class="footer-nav-col">
      <ul class="footer-nav-list">
        <li>
          <a href="/agent/">语言</a>
        </li>
        <li>
          <a href="/agent/java/installAgent.html">Java</a>
        </li>
        <li>
          <a href="/agent/php/phpinstall.html">PHP</a>
        </li>
        <li>
          <a href="/agent/net/netinstall.html">.net</a>
        </li>
        <li>
          <a href="/agent/python/Pythoninstall.html">Python</a>
        </li>
        <li>
          <a href="/agent/nodejs/Nodejsinstall.html">Node.js</a>
        </li>
        <li><a href="/agent/ruby/Rubyinstall.html">Ruby</a></li>
      </ul>
    </div>
    </div>
    <div class="footer-support">
      <ul class="footer-support-list">
        <li><img src="/images/home/jishuzhichi.svg"></li>
        <li class="support-title">技术支持</li>
        <li class="support-mail">support@oneapm.com</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright-block">
  <div class="container">
    <div class="icp">
      <small class="copyright">Copyright © 2008-<span id="cr-end-time"></span> 北京蓝海讯通科技股份有限公司 <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备14028342号-2</a> 京公网安备 11010802016192 <a href="../privacy_policy.html">服务协议</a> </small>
    </div>
  </div>
</div>
