---
layout: "home"
title: "Application Insight - 端到端应用性能管理APM – OneAPM"
---
<section class="section features-apm logo-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-12 col-xxs-offset-0 part">
                <h3 class="vice-title text-center">一站式性能监控平台</h3>
                <h2 class="title text-center">全平台，全语言</h2>
                <div class="text-border"></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-12 col-xxs-offset-0 img-container">
                <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 col-xxs-6">
                    <a href="/agent/python/Pythoninstall.html">
                        <img class="icon-logo" src="/images/home/python.svg">
                    </a>
                </div>
                <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-half col-xs-4 col-xs-offset-0 col-xxs-6">
                    <a href="/agent/nodejs/Nodejsinstall.html">
                        <img class="icon-logo" src="/images/home/node.svg">
                    </a>
                </div>
                <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-half col-xs-4 col-xs-offset-0 col-xxs-6">
                    <a href="/agent/java/installAgent.html">
                        <img class="icon-logo" src="/images/home/java.svg">
                    </a>
                </div>
                <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-0 col-xxs-6">
                    <a href="/agent/net/netinstall.html">
                        <img class="icon-logo" src="/images/home/net.svg">
                    </a>
                </div>
                <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-half col-xs-4 col-xs-offset-0 col-xxs-6">
                    <a href="/agent/php/phpinstall.html">
                        <img class="icon-logo" src="/images/home/php.svg">
                    </a>
                </div>
                <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-3 col-sm-offset-half col-xs-4 col-xs-offset-0 col-xxs-6">
                    <a href="/agent/ruby/Rubyinstall.html">
                        <img class="icon-logo" src="/images/home/ruby.svg">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-12 col-xxs-offset-0 part">
                <p>OneAPM 提供全语言和全平台的应用性能监控，无论你的团队采用了多少不同的技术方案，都可以在 OneAPM 平台上进行统一的性能管理。注册账号后，只需根据编程语言下载 Agent，按照指示安装成功之后，重启应用服务器。几分钟之后，您就可以在 OneAPM 界面上看到应用的性能数据了。</p>
            </div>
        </div>
    </div>
</section>
<section class="section features-apm" style="background-color:#f7f7f7;">
    <div class="container">
        <h3 class="vice-title text-center">在故障大面积影响用户前快速定位修复</h3>
        <h2 class="title">从用户终端，到网络，直至服务端，<br class="  hidden-xxs">定位性能瓶颈</h2>
        <div class="text-border"></div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xxs-12 col-xxs-offset-0">
                <div class="content-wrapper"> 
                    <span class="icon"><img src="/images/home/svg1.svg"></span>
                    <div class="content-right"> 
                        <h3 class="title"><span class="text">获得端到端的可视性</span></h3>
                        <p class="intro-text">展现关键事务在整个面向服务的应用程序环境中的性能表现，提供响应时间、吞吐量、错误率等指标。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xxs-12 col-xxs-offset-0">
                <div class="content-wrapper">
                    <span class="icon"><img src="/images/home/svg2.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">实时检测程序错误和异常</span></h3>
                        <p class="intro-text">错误信息功能可实时发现线上的错误异常，查看错误的具体情况，在第一时间发送告警通知。</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0  col-xs-6 col-xs-offset-3 col-xxs-12 col-xxs-offset-0">
                <div class="content-wrapper">
                    <span class="icon"><img src="/images/home/svg3.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">代码级别监控应用程序</span></h3>
                        <p class="intro-text">无需设置，自动抓取性能消耗较大的代码和 SQL 语句，快速定位性能瓶颈。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section features-apm">
    <div class="container">
        <h3 class="vice-title text-center">有效管理动态复杂的企业应用环境</h3>
        <h2 class="title">专业级应用性能分析，<br class="hidden-lg hidden-md hidden-sm hidden-xxs">为应用保驾护航</h2>
        <div class="text-border"></div>
        <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xxs-12 col-xxs-offset-0">
            <div class="content-wrapper">
                <span class="icon"><img src="/images/home/svg4.svg"></span>
                <div class="content-right">
                    <h3 class="title"><span class="text">数据库性能管理</span></h3>
                    <p class="intro-text">实时查看数据库性能，轻松定位执行缓慢的 SQL / NOSQL 语句。支持 MySQL 、Oracle 、Redis 、Mongodb 、Memcached 等主流数据库。</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xxs-12 col-xxs-offset-0">
          <div class="content-wrapper">
            <span class="icon"><img src="/images/home/svg5.svg"></span>
            <div class="content-right">
                <h3 class="title"><span class="text">自动生成应用拓扑</span></h3>
                <p class="intro-text">展示应用程序及其关联内部、外部服务系统的响应时间、吞吐量和状态，同时显示了各个服务的相互影响。如果一项服务中断，您可以立即看到其他服务遭受的影响。</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3 col-xxs-12 col-xxs-offset-0">               
     <div class="content-wrapper">
        <span class="icon"><img src="/images/home/svg6.svg"></span>
        <div class="content-right">
            <h3 class="title"><span class="text">及时精准的故障告警</span></h3>
            <p class="intro-text">7*24 小时不间断监控，保证服务随时处于可监控状态。针对警报进行分级管理，抑制报警风暴，支持系统、邮件、短信多种报警通知方式。</p>
        </div>
    </div>
</div>
</div>
</div>
</section>

<section class="section cta-section text-center pricing-cta-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-3">
                <img src="/images/home/gold-medal.png" class="hidden-xs">
                <div class="slogan">
                    <h2 class="title">金牌服务</h2>
                    <p>7×24 小时服务支持，为应用保驾护航</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <p><a class="btn btn-large btn-sign-ye ga" href="https://user.oneapm.com/pages/v2/signup" target="_blank" data="1">立即注册</a></p>
                <p><span class="cta-span">体验 15 天专业版</span></p>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="footer-col">
          <p>文档</p>
          <ul>
            <li><a href="">快速入门</a></li>
            <li><a href="">功能说明</a></li>
            <li><a href="">安装指南</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">API</a></li>
            <li><a href="">联系我们</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="footer-col">
          <p>语言</p>
          <ul>
            <li><a href="http://www.oneapm.com/ai/java.html">Java</a></li>
            <li><a href="http://www.oneapm.com/ai/php.html">PHP</a></li>
            <li><a href="http://www.oneapm.com/ai/dotnet.html">.net</a></li>
            <li><a href="http://www.oneapm.com/ai/python.html">Python</a></li>
            <li><a href="http://www.oneapm.com/ai/nodejs.html">node.js</a></li>
            <li><a href="http://www.oneapm.com/ai/ruby.html">Ruby</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <figure class="figure">
          <img src="/images/home/jishuzhichi.svg">
          <p class="figure-title">技术支持</p>
          <p class="figure-detail">使用 OneAPM 时，遇到任何技术上的问题，<br>都可以直接致电技术支持专线。</p>
          <span class="phone">400-622-3101</span>
        </figure>
      </div>
    </div>
</section> -->
